<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/style4.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
    

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">

    

    <!-- Bootstrap core CSS -->
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <!-- <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style> -->

    
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Carousel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </header>
      
      <main>
      <style>
        .admin{
          height: 750px;
        }
      </style>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner admin">
            <div class="carousel-item active">
              <img class="bd-placeholder-img" src="{% static 'imgcinema/nur.jpeg' %}" aria-hidden="true" width="100%" height="100%" fill="#777"></img>
      
              <div class="container">
                <div class="carousel-caption text-start admin">
                  <!-- <h1>Example headline.</h1> -->
                  <p>Кинотеатр "НУР" хорошее и приятное место где можно посмотреть хороший фильм 🎥. </p>
                  <p><a class="btn btn-lg btn-primary" type="submit" href="http://www.nurcinema.kg/">Далее</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item admin">
                <img class="bd-placeholder-img"  src="{% static 'imgcinema/karo.jpeg' %}" aria-hidden="true" width="100%" height="100%" fill="#777"></img>
      
              <div class="container">
                <div class="carousel-caption">
                  <h1>О кинотеатре</h1>
                  <p>Информация подробную вы можете по ссылке пройти и узнать</p>
                  <p><a class="btn btn-lg btn-primary" href="http://www.kinobox.kg/">Далее</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item admin">
                <img class="bd-placeholder-img" src="{% static 'imgcinema/semetei.jpg' %}" aria-hidden="true" width="100%" height="100%" fill="#777"></img>
      
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>О кинотеатре.</h1>
                  <p>Кинотеатр Семетей насчитывает более чем 40 летнюю историю работы. </p>
                  <p><a class="btn btn-lg btn-primary" href="http://www.kinobox.kg/">Далее</a></p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      
      
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
      
        <div class="container marketing">
      
          <!-- Three columns of text below the carousel -->
        
      
      
          <!-- START THE FEATURETTES -->
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Кинотеатр Нур</h2>
              <p class="lead">
                Для жителей города Ош кинотеатр Нур давно стал одним из самых любимых мест проведения досуга. Репертуар кинотеатра составлен таким образом, чтобы угодить самой широкой аудитории любого возрастного диапазона. В кинозалах кинотеатра можно посмотреть как последние хиты мирового проката, так и фильмы, сошедшие с больших экранов. Здесь ежедневно работает кафе-бар, где можно приятно скоротать время перед сеансом. В Нуре есть всё, что необходимо для качественного отдыха!
                
                </p>
            </div>
            <div class="col-md-5">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'imgcinema/vnut.jpeg' %}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></img>
      
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Кинотеатр Семетей</h2>
              <p class="lead">  Кинотеатр Семетей насчитывает более чем 40 летнюю историю работы. Кинотеатр «Кинобокс Семетей» снова был открыт 1 июня 2017 года.  Это первый кинотеатр на Юге страны где все залы оснащены цифровым оборудованием ведущих мировых производителей Barco и Christie.

                Кинотеатр «Кинобокс Семетей» размещает 4 зала, все залы оборудованы системами воспроизведения видео в формате 3D. Звуковое оборудование Dolby 750, выдающей 7 канальный звук, а также зал с 11.1 канальным звуком Auro3D, благодаря которому создается эффект полного присутствия.  Два больших зала вместимостью 168 посадочных мест, средний 110 мест и малый зал вмещает 52 места. Кроме того, зрителей порадуют специально оборудованные парными сиденьями «места для поцелуев».
                «Кинобокс Семетей» признан лучшим кинотеатром города Ош 2017 года на мероприятий «Браво Ош».
           </p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'imgcinema/o.jpeg' %}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>
      
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Ак-Буура  кинотеатр</h2>
              <p class="lead">Ак-Буура кинотеатры 2011 жылдын август айынан Ош шаарынын элине жаны  кыргыз кинолорун талыкпай узгултуксуз иштеп келет Биздин максат ош шаарынын элине жана меймандарына жаны чыккан  кыргыз кинолорун кечикпестен корсотуу, жылуу мамиле кылуу,жана сиз каалаган кинолорду корсотуу/
                Ак-Буура кинотеатры 3 залдан турат
                1) Чон зал
                2) Кичи зал
                3) VIP зал
                Чон зал жана кичи залда сиздер  кыргызча кинолорду (FULL HD) менен форматында эн тунук ун менен коро аласыз ал эми VIP залда чет элдик кинолорду каалаган убакта каалаган кинону буйуртма менен коро алсаныз болот
                </p>
            </div>
            <div class="col-md-5">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'imgcinema/ak.jpeg' %}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>
      
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <!-- /END THE FEATURETTES -->
      
        </div><!-- /.container -->
      
      
        <!-- FOOTER -->
        <footer class="container">
          <p class="float-end"><a href="#">Back to top</a></p>
          <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
      </main>
      
      
          <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>